# Backend (Laravel)
backend/app/.env
backend/app/.env.backup
backend/app/.env.production
backend/app/.phpactor.json
backend/app/.phpunit.result.cache
backend/app/node_modules
backend/app/public/build
backend/app/public/hot
backend/app/storage
backend/app/bootstrap/cache
backend/app/database/*.sqlite
backend/app/vendor
# Frontend
frontend/node_modules/
frontend/dist
frontend/.vite
# General
.DS_Store
*.log
